.Settings {
  padding: 0;
  margin: 0;
  font-size: 13px;
}

.Settings .header {
  background-color: #444444;
  padding: 20px 0;
  border-bottom: 1px solid #ffffff;
}

.Settings .header h1{
  padding: 0 10px;
  margin: 0;
}

.Settings .contentBlock {
  padding: 0 10px;
}

.Settings .divisionBlock label{
  padding: 0 10px;
}

.Settings .divisionBlock label span {
  padding-left: 5px;
}