.Auth {
	margin: 60px auto;
	width: 100%;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
}

.Auth h1 {
	color: #ffffff;
	font-size: 28px;
	text-transform: uppercase;
}

.Auth p {
	color: #000000;
}

@media (min-width: 600px) {
	.Auth {
		width: 500px;
	}
}